body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}
header {
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #35424a;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    color: #35424a;
}


#personal-info ul {
    list-style-type: none;
    padding: 0;
}
.box {
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
}
#personal-info li {
    margin-bottom: 10px;
}

.back-link {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #35424a;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
    width: 200px;
}

.center {
  margin: auto;
  width: 50%;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-items: center;
  text-align: center;
  padding: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

img{
    width: 300px;
    height: 250px;
}

.student {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    margin-right: 50px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.phuc-image {
    object-fit: cover;
    object-position: center;
}